:root {
    --primery-text-color: #212121;
    --secondary-text-color: #757575;
    --white-text-color: #ffffff;
    --accent-color: #2196f3;
    --primery-background-color: #ffffff;
    --secondary-background-color: #f5f4fa;
    --accent-background-color: #2f303a;
    --icon-color: #afb1b8;

    --duration: 250ms;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
